<a href="https://colab.research.google.com/github/sanjaykurmi/pythone/blob/main/loop_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### for loop

name in this for statement is called the loop variable or, alternatively, the iterator variable.

The list of names in the square brackets is the sequence over which we will iterate.

At the end of each execution of the body of the loop, Python returns to the for statement, to see if there are more items to be handled.

In [ ]:
for achar in "Go Spot Go":
    print(achar)

G
o

S
p
o
t

G
o

In [ ]:
s = "python rocks"
for ch in s:
   print("HELLO")

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

In [ ]:
s = "python rocks"
for ch in s[3:8]:
   print("HELLO")

HELLO
HELLO
HELLO
HELLO
HELLO

In [ ]:
fruits = ["apple", "orange", "banana", "cherry"]

for afruit in fruits:     # by item
    print(afruit)

apple
orange
banana
cherry

In [ ]:
print("This will execute first")

for _ in range(3):
    print("This line will execute three times")
    print("This line will also execute three times")

print("Now we are outside of the for loop!")

This will execute first
This line will execute three times
This line will also execute three times
This line will execute three times
This line will also execute three times
This line will execute three times
This line will also execute three times
Now we are outside of the for loop!

In [ ]:
for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    print("Hi", name, "Please come to my party on Saturday!")

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Brad Please come to my party on Saturday!
Hi Angelina Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!
Hi Thandi Please come to my party on Saturday!
Hi Paris Please come to my party on Saturday!

In [ ]:
p = [3, 4, "Me", 3, [], "Why", 0, "Tell", 9.3]
for ch in p:
   print(ch)

3
4
Me
3
[]
Why
0
Tell
9.3

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
accum = 0
for w in nums:
    accum = accum + w
print(accum)

55

In [ ]:
print("range(5): ")
for i in range(5):
    print(i)

print("range(0,5): ")
for i in range(0, 5):
    print(i)

# Notice the casting of `range` to the `list`
print(list(range(5)))
print(list(range(0,5)))

# Note: `range` function is already casted as `list` in the textbook
print(range(5))

range(5):
0
1
2
3
4
range(0,5):
0
1
2
3
4
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
range(0, 5)

In [ ]:
accum = 0
for w in range(11):
    accum = accum + w
print(accum)

# or, if you use two inputs for the range function

sec_accum = 0
for w in range(1,11):
    sec_accum = sec_accum + w
print(sec_accum)

55
55

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for w in nums:
    count = count + 1
print(count)

10

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for w in nums:
   accum = 0
   accum = accum + w
print(accum)

10

In [ ]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for n in range(5):
    print(n, fruits[n])

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [ ]:
s = "python"
for idx in range(len(s)):
   print(s[idx % 2])

p
y
p
y
p
y

In [ ]:
for i in range(5):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
w = range(10)

tot = 0
for num in w:
    tot += num
print(tot)

45

In [ ]:
w = range(10)

tot = 0
for num in w:
    print(num)
    tot += num
print(tot)

0
1
2
3
4
5
6
7
8
9
45

In [ ]:
w = range(10)


tot = 0
for num in w:
    print(num)
    tot += num
    print(tot)
print(tot)

0
0
1
1
2
3
3
6
4
10
5
15
6
21
7
28
8
36
9
45
45

In [ ]:
w = range(10)

tot = 0
print("***** Before the For Loop ******")
for num in w:
    print("***** A New Loop Iteration ******")
    print("Value of num:", num)
    tot += num
    print("Value of tot:", tot)
print("***** End of For Loop *****")
print("Final total:", tot)

***** Before the For Loop ******
***** A New Loop Iteration ******
Value of num: 0
Value of tot: 0
***** A New Loop Iteration ******
Value of num: 1
Value of tot: 1
***** A New Loop Iteration ******
Value of num: 2
Value of tot: 3
***** A New Loop Iteration ******
Value of num: 3
Value of tot: 6
***** A New Loop Iteration ******
Value of num: 4
Value of tot: 10
***** A New Loop Iteration ******
Value of num: 5
Value of tot: 15
***** A New Loop Iteration ******
Value of num: 6
Value of tot: 21
***** A New Loop Iteration ******
Value of num: 7
Value of tot: 28
***** A New Loop Iteration ******
Value of num: 8
Value of tot: 36
***** A New Loop Iteration ******
Value of num: 9
Value of tot: 45
***** End of For Loop *****
Final total: 45

In [ ]:
n = ["word", "phrase", 8, ("beam")]
for item in n:
    print(item)

word
phrase
8
beam

In [ ]:
t = "couch"
for z in t:
    print(z)

c
o
u
c
h

In [ ]:
t = ("couch", "chair", "washer", "dryer", "table")
for z in t:
    print(z)

couch
chair
washer
dryer
table

In [ ]:
t = "couch"
for z in t:
    print(z)

c
o
u
c
h

In [ ]:
t = ["couch", "chair", "washer", "dryer", "table"]
for z in t:
    print(z)

couch
chair
washer
dryer
table

In [ ]:
t = [9, "setter", 3, "wing spiker", 10, "middle blocker"]
for z in t:
    print(z, +  )

9 1
setter 1
3 1
wing spiker 1
10 1
middle blocker 1

In [ ]:
t = [9, "setter", 3, "wing spiker", 10, "middle blocker"]
for z in t:
    print(z)

9
setter
3
wing spiker
10
middle blocker

In [ ]:
red = "colors"
for blue in red:
    print(blue)

c
o
l
o
r
s

In [ ]:
for n in range(5):
   print(n)

0
1
2
3
4

A function that produces a list of numbers. For example, range(5), produces a list of five numbers, starting with 0, [0, 1, 2, 3, 4].

In [ ]:
prefixes = "JKLMNOPQ"
suffix = "ack"

for p in prefixes:
    print(p + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [ ]:
a= 10
b= 20
c=30

In [ ]:
if(a>b):
  print("a is gretar ten")
elif(b>a):
  print("b is greter then")

b is greter then

In [ ]:
t=('a','b','c')

In [ ]:
if